<div class="row post-grid">
{{#each posts as |post|}}
<div class="col-md-6">
    <div class="card " style="">
        <div class="card-body">
            <h5 class="card-title">{{post.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted small ">{{format_time post.date_created}}</h6>
            <p class="card-text">{{post.description}}</p>    
        </div>
        <button class="delPostBtn btn btn-light" data-postId="{{post.id}}">Remove</button>
        <button class="editPostBtn btn btn-primary" data-postId="{{post.id}}">Edit</button>    
    </div>
</div>
     
{{/each}}

 
</div>

<form id="editPostForm">
     <div class="mb-3">
            <label for="edit_post_name" class="form-label">Name</label>
            <input type="text" class="form-control" id="edit_post_name" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
            <label for="edit_post_description" class="form-label">Description</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="edit_post_description"></textarea>
      </div>
        <button class="btn btn-primary">UPDATE</button>
</form>

{{!-- <script src="js/editpost.js"></script> --}}